<div class="row">
  <div class="col-sm-6 offset-sm-3">
    <%= form_for(@empresa, :html => {class: "form-horizontal", role: "form", id: "validation_form"}) do |f| %>

      <div class="form-group">
          <%= f.text_field :nombre_completo, class: "form-control", placeholder: "Ingrese su nombre completo", autofocus: true %>
      </div>

      <div class="form-group">
          <%= f.text_field :nombre_empresa, class: "form-control", placeholder: "Ingrese el nombre de su empresa", autofocus: true %>
      </div>

      <div class="form-group">
          <%= f.email_field :email, class: "form-control",placeholder: "Ingrese su email", 'data-required' => "required" %>
      </div>

      <div class="form-group">
          <%= f.text_field :rfc, class: "form-control", placeholder: "Ingrese su RFC", autofocus: true %>
      </div>

      <div class="form-group">
          <%= f.password_field :password, id: "password_input", class: "form-control",placeholder: "Ingrese su password" %>
      </div>

      <div class="form-group">
          <%= f.password_field :password_confirmation , id: "password_confirmation", class: "form-control",placeholder: "Confirmar password" %>
      </div>

      <div class="form-group">
        <div align="center">
          <%= f.submit(@empresa.new_record? ? "Registrarse" : "Actualizar Empresa", class: "btn btn-success btn-lg") %>
        </div>
      </div>

    </div>
  </div>
<% end %>
