<!DOCTYPE html>
<html>
  <head>
    <title>Capacitacion</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>

  <body>
    <%= render 'layouts/navigation' %>
    <br>
    <main role="main">
      <div class="container">
        <%= render 'layouts/messages' %>

        <%= yield %>
        <%= insert_paloma_hook %>
      </div>
    </main>

  </body>
</html>
<script>
$(document).ready(function(){
  Paloma.start();
});
</script>
